<form class="d-inline-block" method="post" action="{{ path('livre_delete', {'id': livre.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer ce livre?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ livre.id) }}">
    <button class="btn" style="background-color: #313a43"><i class="bi bi-trash" style="color:white;font-size:20px;margin-left: 10px;"></i></button>
</form>
